/*Scroll progress line starts*/
/* styles/globals.css or ZigZagProgressLine.module.css */
/* .animated-stroke {
  stroke-dasharray: 1000; 
  stroke-dashoffset: 1000;
  animation: drawStroke 2s forwards ease-out;
  animation-play-state: paused; 
}

.animated-stroke.active {
  animation-play-state: running;
}

@keyframes drawStroke {
  to {
    stroke-dashoffset: 0;
  }
} */

/* styles/globals.css or module CSS */

/* styles/globals.css */

/* .sway-container {
  position: fixed;
  right: 20px;
  top: 120px;
  bottom: 20px;
  height: calc(100vh - 140px);
  width: 60px;
  z-index: 999;
}

.sway-container svg {
  height: 100%;
  width: 100%;
  display: block;
} */


/*Scroll progress line ends*/

/*Scroll progress line starts*/
/* styles/globals.css or module CSS */

.scroll-container {
  position: fixed;
  right: 20px; /* or right */
  top: 120px;
  bottom:20px;
  height: calc(100vh - 140px);
  width: 4px;
  background: transparent;
  z-index: 999;
}

.track {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #ccc; /* Track color */
  border-radius: 2px;
}

.fill {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #0070f3; /* Fill color */
  border-radius: 2px;
  transition: height 0.2s ease-out;
}

/*Scroll progress line ends*/

@-webkit-keyframes spinner {
  from {
    -webkit-transform: rotateY(0deg);
  }
  to {
    -webkit-transform: rotateY(360deg);
  }
}
@-moz-keyframes spinner {
  from {
    -moz-transform: rotateY(0deg);
  }
  to {
    -moz-transform: rotateY(360deg);
  }
}
@keyframes spinner {
  from {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  to {
    -webkit-transform: rotateY(360deg);
    -moz-transform: rotateY(360deg);
    -ms-transform: rotateY(360deg);
    -o-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
}


#tridiv {
  perspective: 800px;
  /* position: absolute; */
  overflow: hidden;
  width: 300px;
  height: 300px;
  background: transparent;
  font-size: 35px;
}

.face {
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.75);
}

.scene, .shape, .face, .face-wrapper, .cr {
  position: absolute;
  transform-style: preserve-3d;
}

.scene {
  width: 80em;
  height: 80em;
  top: 50%;
  left: 50%;
  margin: -40em 0 0 -40em;
  -webkit-animation: spinner 10s linear;
  -moz-animation: spinner 10s linear;
  animation: spinner 10s linear;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.shape {
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  transform-origin: 50%;
}

.face, .face-wrapper {
  overflow: hidden;
  transform-origin: 0 0;
  backface-visibility: hidden;
  /* hidden by default, prevent blinking and other weird rendering glitchs */
}

.face {
  background-size: 100% 100% !important;
  background-position: center;
}

.face-wrapper .face {
  left: 100%;
  width: 100%;
  height: 100%;
}

.photon-shader {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  /*   background-color: rgba(255, 255, 255, 0.847059); */
}

.side {
  left: 50%;
}

.cr, .cr .side {
  height: 100%;
}

[class*=pyramid] .face-wrapper .face {
  transform: rotateZ(45deg) translateX(-35.35%) translateY(35.35%);
}

[class*=pyramid] .bk {
  left: 100%;
}

[class*=pyramid] .bm {
  top: 100%;
  transform: rotateX(-90deg) translateY(-50%);
}

[class*=pyramid] .rt, [class*=pyramid] .lt {
  transform-origin: 50% 0;
}

/* .pyr-1 styles */
.pyr-1 {
  transform: translate3D(0em, -3em, 0em) rotateX(0deg) rotateY(-90deg) rotateZ(0deg);
  opacity: 1;
  width: 4em;
  height: 2em;
  margin: -1em 0 0 -2em;
}

.pyr-1 .face-wrapper {
  width: 4em;
  height: 2em;
}

.pyr-1 .face-wrapper .face {
  width: 4em;
  height: 4em;
}

.pyr-1 .ft {
  transform: scaleZ(1.4142135624) scaleY(1.4142135624) rotateX(45deg);
}

.pyr-1 .bk {
  transform: scaleZ(1.4142135624) scaleY(1.4142135624) rotateX(-45deg) rotateY(180deg);
}

.pyr-1 .rt {
  transform: scaleX(1.4142135624) scaleY(1.4142135624) rotateZ(45deg) rotateY(-90deg);
}

.pyr-1 .lt {
  transform: scaleX(1.4142135624) scaleY(1.4142135624) rotateZ(-45deg) rotateY(90deg);
}

.pyr-1 .bm {
  width: 4em;
  height: 4em;
}

.pyr-1 .face {
  background-color: #07468e99;
}

.pyr-4 .face {
  background-color: #07468e55;
}

.pyr-5 .face {
  background-color: #07468e88;
}

.pyr-2 .face {
  background-color: #b146e077;
}

.pyr-3 .face {
  background-color: #b146e066;
}

.pyr-6 .face {
  background-color: #b146e044;
}

/* .pyr-2 styles */
.pyr-2 {
  transform: translate3D(0em, 3em, 0em) rotateX(0deg) rotateY(0deg) rotateZ(180deg);
  opacity: 1;
  width: 4em;
  height: 2em;
  margin: -1em 0 0 -2em;
}

.pyr-2 .face-wrapper {
  width: 4em;
  height: 2em;
}

.pyr-2 .face-wrapper .face {
  width: 4em;
  height: 4em;
}

.pyr-2 .ft {
  transform: scaleZ(1.4142135624) scaleY(1.4142135624) rotateX(45deg);
}

.pyr-2 .bk {
  transform: scaleZ(1.4142135624) scaleY(1.4142135624) rotateX(-45deg) rotateY(180deg);
}

.pyr-2 .rt {
  transform: scaleX(1.4142135624) scaleY(1.4142135624) rotateZ(45deg) rotateY(-90deg);
}

.pyr-2 .lt {
  transform: scaleX(1.4142135624) scaleY(1.4142135624) rotateZ(-45deg) rotateY(90deg);
}

.pyr-2 .bm {
  width: 4em;
  height: 4em;
}


/* .pyr-3 styles */
.pyr-3 {
  transform: translate3D(3em, 0em, 0em) rotateX(0deg) rotateY(0deg) rotateZ(90deg);
  opacity: 1;
  width: 4em;
  height: 2em;
  margin: -1em 0 0 -2em;
}

.pyr-3 .face-wrapper {
  width: 4em;
  height: 2em;
}

.pyr-3 .face-wrapper .face {
  width: 4em;
  height: 4em;
}

.pyr-3 .ft {
  transform: scaleZ(1.4142135624) scaleY(1.4142135624) rotateX(45deg);
}

.pyr-3 .bk {
  transform: scaleZ(1.4142135624) scaleY(1.4142135624) rotateX(-45deg) rotateY(180deg);
}

.pyr-3 .rt {
  transform: scaleX(1.4142135624) scaleY(1.4142135624) rotateZ(45deg) rotateY(-90deg);
}

.pyr-3 .lt {
  transform: scaleX(1.4142135624) scaleY(1.4142135624) rotateZ(-45deg) rotateY(90deg);
}

.pyr-3 .bm {
  width: 4em;
  height: 4em;
}



/* .pyr-4 styles */
.pyr-4 {
  transform: translate3D(-3em, 0em, 0em) rotateX(0deg) rotateY(0deg) rotateZ(270deg);
  opacity: 1;
  width: 4em;
  height: 2em;
  margin: -1em 0 0 -2em;
}

.pyr-4 .face-wrapper {
  width: 4em;
  height: 2em;
}

.pyr-4 .face-wrapper .face {
  width: 4em;
  height: 4em;
}

.pyr-4 .ft {
  transform: scaleZ(1.4142135624) scaleY(1.4142135624) rotateX(45deg);
}

.pyr-4 .bk {
  transform: scaleZ(1.4142135624) scaleY(1.4142135624) rotateX(-45deg) rotateY(180deg);
}

.pyr-4 .rt {
  transform: scaleX(1.4142135624) scaleY(1.4142135624) rotateZ(45deg) rotateY(-90deg);
}

.pyr-4 .lt {
  transform: scaleX(1.4142135624) scaleY(1.4142135624) rotateZ(-45deg) rotateY(90deg);
}

.pyr-4 .bm {
  width: 4em;
  height: 4em;
}


/* .pyr-5 styles */
.pyr-5 {
  transform: translate3D(0em, 0em, 3em) rotateX(-270deg) rotateY(0deg) rotateZ(180deg);
  opacity: 1;
  width: 4em;
  height: 2em;
  margin: -1em 0 0 -2em;
}

.pyr-5 .face-wrapper {
  width: 4em;
  height: 2em;
}

.pyr-5 .face-wrapper .face {
  width: 4em;
  height: 4em;
}

.pyr-5 .ft {
  transform: scaleZ(1.4142135624) scaleY(1.4142135624) rotateX(45deg);
}

.pyr-5 .bk {
  transform: scaleZ(1.4142135624) scaleY(1.4142135624) rotateX(-45deg) rotateY(180deg);
}

.pyr-5 .rt {
  transform: scaleX(1.4142135624) scaleY(1.4142135624) rotateZ(45deg) rotateY(-90deg);
}

.pyr-5 .lt {
  transform: scaleX(1.4142135624) scaleY(1.4142135624) rotateZ(-45deg) rotateY(90deg);
}

.pyr-5 .bm {
  width: 4em;
  height: 4em;
}


/* .pyr-6 styles */
.pyr-6 {
  transform: translate3D(0em, 0em, -3em) rotateX(-450deg) rotateY(0deg) rotateZ(180deg);
  opacity: 1;
  width: 4em;
  height: 2em;
  margin: -1em 0 0 -2em;
}

.pyr-6 .face-wrapper {
  width: 4em;
  height: 2em;
}

.pyr-6 .face-wrapper .face {
  width: 4em;
  height: 4em;
}

.pyr-6 .ft {
  transform: scaleZ(1.4142135624) scaleY(1.4142135624) rotateX(45deg);
}

.pyr-6 .bk {
  transform: scaleZ(1.4142135624) scaleY(1.4142135624) rotateX(-45deg) rotateY(180deg);
}

.pyr-6 .rt {
  transform: scaleX(1.4142135624) scaleY(1.4142135624) rotateZ(45deg) rotateY(-90deg);
}

.pyr-6 .lt {
  transform: scaleX(1.4142135624) scaleY(1.4142135624) rotateZ(-45deg) rotateY(90deg);
}

.pyr-6 .bm {
  width: 4em;
  height: 4em;
}

